<!DOCTYPE html>
<html>
  <head>
    <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{{ url_for('static', filename='globals.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  </head>
  <body>
    <div class="main">
      <div class="div">
        <div class="overlap-group">
          <div class="rectangle"></div>
          <div class="group">
            <img
              class="boolean-news"
              src="https://c.animaapp.com/RG4WDjBl/img/boolean-news.png"
            />
            <img
              class="isolation-mode"
              src="https://c.animaapp.com/RG4WDjBl/img/isolation-mode.svg"
            />
          </div>
          <div class="rectangle-2"></div>
          <input type="text" id="news-input" class="news-input" placeholder="Enter Article for Analysis" />
        </div>
        <div class="overlap">
          <div class="rectangle-3"></div>
          <div class="rectangle-3"></div>
        </div>
        <div class="overlap-2">
          <div class="rectangle-4"></div>
          <img
            class="ellipse"
            src="https://c.animaapp.com/RG4WDjBl/img/ellipse-1.svg"
          />
          <img
            class="polygon"
            src="https://c.animaapp.com/RG4WDjBl/img/polygon-1.svg"
          />
        </div>
      </div>
    </div>
  </body>
</html>
